/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

img{
    width: 100%;
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    background-color: black;
}

main{
    width: 100%;
    height: calc( 100vh - 120px );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    background-color: black;
    
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

/*Icon*/
.th-icon{
    display: inline-block;
    margin-right: 2px;
}

.expand-arrow-icon{
    display: inline-block;
    margin: 0 5px;
    padding: 3px 5px;
}

.user-target .mute-mic-icon{
    font-size: 15px;
}

.footer-input .angle-up-icon{
    font-size: 14px;
    margin-left: 10px;
}

.footer-input .share-screen-icon{
    color: #4bc800;
}

/*HEADER*/
.speaker-view{
    padding: 3px 5px;
    cursor: pointer;
}

.expand-arrow-icon{
    cursor: pointer;
}

header > div{
    background-color: #4a4a4a;
    padding: 3px;
    border-radius: 5px;
}

header > div:hover{
    background-color: #5c5c5c;
}

header > div:active{
    background-color: #4a4a4a;
}

/*MAIN*/
.user{
    width: 280px;
    height: 160px;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px 5px;
    position: relative;
}

.user:hover{
    cursor: grab;
}

.user:active{
    cursor: grabbing;
}

main .user-target{
    display: inline-block;
    padding: 3px;
    background-color: #4a4a4a7a;
    position: absolute;
    bottom: 0;
    left: 0;
}

.name{
    font-size: 14px;
}

/*FOOTER*/
.user-sources{
    display: flex;
}

.footer-input{
    margin: 0 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.footer-input:hover{
    cursor: pointer;
    background-color: #5c5c5c;
}

.footer-input:active{
    background-color: #222222;
}

.footer-icon{
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.call-input{
    display: flex;
}

.end-meeting{
    padding: 0 20px;
    color: red;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.end-meeting:hover{
    cursor: pointer;
    background-color: #5c5c5c;
}

.end-meeting:active{
    background-color: #4a4a4a;
}